# CODEOWNERS file for RDHPCS Documentation Site
#
# Owners listed in this file will be added as reviewers of pull Requests.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for more information.

# The tech-writer owns all files
* @elisabethpatterson 

# Per GitHub documentation, this is to protect the CODEOWNERS file from
# unwanted changes.
/.github/CODEOWNERS @elisabethpatterson @underwoo
/.github/ @underwoo @chanwilson

# Owners of utilities and script files
/.readthedocs.yaml @underwoo @chanwilson
/utils/ @josh-eisinger @hderry
/requirements.txt @underwoo @josh-eisinger @chanwilson
/Makefile @underwoo @josh-eisinger @chanwilson
/make.bat @underwoo @josh-eisinger @chanwilson

# Top-level code ownership for source files without specific assignments below
/source/ @elisabethpatterson @underwoo @chanwilson

# Owners of specific documentation pages
/source/accounts @DV-NOAA @chanwilson
/source/data/nescc_hpss.rst @DV-NOAA @RaghuReddy-NOAA
/source/help @DV-NOAA @hderry
/source/systems/MSU-HPC_user_guide.rst @DV-NOAA @eschnepp-hpc
/source/systems/cloud_user_guide.rst @unni-noaa @RaghuReddy-NOAA
/source/systems/gaea_user_guild.rst @hderry @josh-eisinger @underwoo
/source/systems/hera_user_guide.rst @DV-NOAA @RaghuReddy-NOAA
/source/systems/jet_user_guide.rst @DV-NOAA @RaghuReddy-NOAA
/source/systems/niagara_user_guide.rst @DV-NOAA @RaghuReddy-NOAA
/source/systems/pan/ @chanwilson @underwoo

